# Logs
*.log

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/

# Old code
old_code/
test1.ipynb

# Optional: editor-specific files
.vscode/
.idea/
*.swp

# NEURON compiled files
nrn/
RGC_model_Anna/


Ion_channels/arm64/
Electric_Fields/

SD_curve.ipynb
SD_curve.py
test.ipynb
results/
